/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

html,
body {
    height: 100%;
}
body {
    background-color: #95a5a6;
}

#main {
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: column;
}

#footer {
    flex-shrink: 0; /* 2 */
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 35px;
    text-align: center;
}
#app{
    flex:1;
    margin-right: 0.5%;
    margin-left: 0.5%;
}

/*
UI COMMON
*/
.flex-rows {
    display: flex;
    flex-direction: row;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
    padding-right: 4px;
    /*padding-left: 4px;*/
    overflow: hidden;
}
.flex-2 {
    flex: 2;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.flex-3 {
    flex: 3;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.flex-4 {
    flex: 4;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.flex-5 {
    flex: 5;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.col-md-12,
.col-sm-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.my-flaticon::before {
    font-size: 13pt !important;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin-left: 0;
}
.template {
    display: none;
    position: relative;
    flex: 1;
}
.ql-container {
    height: auto !important;
}
.ql-toolbar {
    text-align: left;
    background-color: white;
}
h1 {
    position: relative;
    left: -10px;
}
h2 {
    padding-bottom: 15px;
    text-align: center;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 10px;
}
thead {
    font-weight: bold;
}
.box {
    margin-bottom: 2px;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    background-color: #ffffff;
}
.tab-row:hover {
    background-color: #E3E3E3 !important;
    cursor: pointer;
}
.btn-group-vertical {
    width: 100%;
}
/*.btn-group {
    margin-right: 4px;
    }*/
    .hide {
        display: none;
    }
    .hidden {
        visibility: hidden;
    }
    .btn-toolbar {
        margin-bottom: 15px;
        padding-left: 0 !important;
    }
    .aside {
        position: static;
        padding-left: 10px;
        border-left: 1px solid #E3E3E3;
    }
    .panel {
        padding: 5px;
    }
    .panel-title {
        font-weight: bold;
    }
    .bold{
      font-weight: bold;
  }
  .movable{
    cursor: move;
}
#legende {
    position: relative;
    margin-top: 10px;
}
.legende {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 3px;
    padding: 5px;
    border-top: 1px solid #E3E3E3 !important;
    border-right: 1px solid #E3E3E3 !important;
    border-bottom: 1px solid #E3E3E3 !important;
    border-left-width: 5px !important;
    overflow: hidden;
    text-align: center;
}
.pseudo_color_mini {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.user {
    padding: 5px;
}
.btn-close {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
}
#renderLoader {
    width: 100%;
    text-align: center;
}

#noty_top_layout_container {
    left: 0% !important;
    width: 100% !important;
}
.valign{
    display: flex;
    justify-content: center;
    flex-direction: column;

}