/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

.bilansClasseItem {
	position: relative;
}
.bilansClasseItem .btn{
 position: absolute;
 right: 5px;
 top: 5px;
}
#bilans-classes .panel{
  margin-bottom: 0px;
}
#bilans-form .well{
	position: relative;
}
.bilans-person{
 display: block;
 text-align: left;
 white-space: nowrap;
 vertical-align: middle;
 border: 1px solid transparent;
 color: #333;
 background-color: #fff;
 border-color: #ccc;
 padding: 4px 4px;
 font-size: 14px;
 line-height: 1.5;
 border-radius: 3px;
 width: 95%;
 overflow: hidden;
}
.bilans-person .btn{
  margin-right: 10px;
}
/* The switch - the box around the slider */
#bilans-form .switch {
  position: absolute;
  right: 4px;
  top: 4px; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}
#export-pdf-form{
    display: none;
}
#bilans-student-preview{
  display: none;
}