/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

#classe-config,
#new_classe_nom_form,
#classe-delete,
#classroomEventsStats,
#classe-export,
#classe-intelligences,
#sociogramme,
#classroom-addStudents,
#generateurGroupes,
#classroom-organizer,
#controles,
#classroom-tests-addForm{
    display: none;
}
#classe_graph{
    width:100%;
    height:500px;
}
#classroom-students{
    resize: vertical;   
    text-align: center;
    padding: 0px;
    position: relative;
    min-height: 500px;
}
#classroom-students-toolbar-selectGroup{
    display: inline-block !important;
    max-width: 200px;
}
.classroom-students-groupe:nth-of-type(n+2) {
    border-top: 1px solid #E3E3E3;
    padding-top: 15px;
} 
.classroom-students-groupe-header{
    margin-bottom: 15px;
}
.classroom-students-groupe-header .btn-group{
    margin-left: 20px;
}
.classroom-students-groupe-body{
    padding-bottom: 20px;
}
.classroom-students-groupe-toolbar .btn-group{
    margin-right: 5px;
}
/*-----------------------------------------------------*/
.classroom-student{
    margin-bottom: 10px;
}
.classroom-student.onPlan{
    width: 160px;
    margin: 0px;
    display: inline-block;
    cursor: move;
    border-radius: 5px;
    padding: 5px;
    border: 1px dashed #E3E3E3;
    background-color: white;
    position: absolute;
}
.classroom-student.onPlan:hover{
    background-color: #E3E3E3;
    padding-right: 20px;
}
.classroom-student-name {
    overflow: hidden;
    margin: 5px;
    width: 98%;
    padding: 2px !important;
}
.classroom-student-name .glyphicon {
    font-size: 15px;
}
.classroom-student-name-l2{
    font-size: 12px !important;
}
.classroom-student-name-badge{
    position: absolute;
    top:7px;
    right: 17px;
}
.classroom-student-jauge{
 height: 43.5px;
 width:8px;
 position: absolute;
 left:20px;
 top:5px;
 border-radius: 2px 0px 0px 2px;
 background-color: #E3E3E3;
 overflow: hidden;
}
.classroom-student-jauge.onPlan{
    left:10px;
    top:10px;  
}
.classroom-student-jauge-notes{
   width:4px;
   position: absolute;
   bottom: 0px;
}
.classroom-student-jauge-acquis{
   width:4px;
   position: absolute;
   bottom: 0px;
   left: 4px;
}
.classroom-student-toolbar{
   max-width: 100%;
   margin-right: 4px;
}
.classroom-student-toolbar-btn{
    max-height: 30px;
    overflow: hidden;
    float: none !important;
}
.classroom-student-badge{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    padding: 1px 1px 1px 1px;
    border-radius: 0px;    
    background-color: black;
    color: white;
}
.classroom-student-picture{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 30px;
    top:12px;
    border-radius: 2px;
    border:1px solid #E3E3E3;
}
/*-----------------------------------------------------*/
#classroom-agenda-date{
    margin-top: 50px;
}
#classe_agenda{
    flex-direction: column-reverse;
}
/*-----------------------------------------------------*/
.classroom-groupes-cohesion{
    float: right;
    position: relative;
    top: -7px;
    cursor: default !important;
}
.classroom-groupes-cohesion-value{
 font-size: 8pt;
 position: relative;
 top: -5px;
}
#classroom-groupes-selectColor{
    display: inline-block !important;
    max-width: 200px;
}
#classroom-groupes-liste .panel{
    text-align: center;
}
/*-----------------------------------------------------*/
#classroom-random{
    overflow: hidden;
    height: 70px;
    /*white-space: nowrap;*/
}
/*-----------------------------------------------------*/
#classroom-sociogramme{
    overflow-x: scroll;
}
.classroom-sociogramme-option{
    position: relative;
    height: 30px;
}
.classroom-sociogramme-option .switch {
  position: absolute;
  right: 4px;
}
.sociogramme_synth_blue{
    background-color: rgba(0,0,255,0.1);
}
.sociogramme_synth_red{
    background-color: rgba(255,0,0,0.1);
}
.sociogramme_synth_green{
    background-color: rgba(0,255,0,0.1);
}
.sociogramme_synth_black{
    background-color: rgba(0,0,0,0.1);
}
/*-----------------------------------------------------*/
#classroom-addStudents-liste{   
    display: flex;
    flex-direction: column-reverse; 
}
.classroom-addStudents-liste-student{
    margin-bottom: 5px;
    border-left: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
    padding: 4px;
    border-radius:4px;
}
.classroom-addStudents-liste-student:hover{
   background-color:#E3E3E3;
}
#classroom-addStudents-classrooms {
    padding-right: 20px;
    max-height: 400px;
    overflow-y: auto;
}
.classroom-addStudents-classrooms-student {
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #E3E3E3;
}
.classroom-addStudents-classrooms-student .btn {
    position: absolute;
    top: 5px;
    left: 5px;
}
/*-----------------------------------------------------*/
#classroom-tests-addForm{
    margin-top: 20px;
}
#classroom-tests-addForm button{
    margin-top: 10px;
}
.classroom-tests-notes{
    width: 100%;
}
.classroom-tests-notes td {
  padding: 2px;
  border-top: 1px solid #DDD;
  text-align: center;
}
.classroom-tests-notes-value input{
    width: 50px;
    text-align: center;
}
.classroom-tests-table{
    text-align: left;
}
.classroom-tests-table table{
    width: auto !important;
}
.classroom-tests-table th{
 text-align: center;
}
.classroom-tests-table td{
    text-align: center;
}
.classroom-tests-table-title{
    position: relative;
   /* font-size: 0.9em;*/
    max-height: 150px;
    text-align:right !important;
    writing-mode:vertical-rl;
    padding-bottom: 5px;
    min-width: 40px;
    vertical-align: bottom !important;
white-space: nowrap;
}
.classroom-tests-table-subtitle{
    color: #777;
     font-size: 0.8em;
}
.classroom-tests-table-moyenne{
    background-color: #F0F0F0;
}
.classroom-tests-table-max{
    font-size: 0.9em;
    color: grey;
}
/*-----------------------------------------------------*/
.classroom-renameForm {
    padding-top: 5px;
    padding-bottom: 15px;
}
/*-----------------------------------------------------*/
#classroom-usersLegend .legende{
    max-width: 100%;
}
/*-----------------------------------------------------*/
#classroom-export-table_filter{
    text-align: center !important;
    margin-top: 5px;
}
#classroomEventsStats{
    position: relative;
}