/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

#header {
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    flex-shrink: 0; /* 2 */
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #95a5a6 !important;
    display: none;
    position: sticky;
}
#header .btn {
    z-index: 3 !important;
}
#header > .well {
    margin-bottom: 0;
}
#titre {
    overflow: visible;
    text-align: center;
    white-space: nowrap;
}
#header-logo{
    margin-left: 10px;
}