/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

#userInfos{
  padding-right: 5px;
  border-right: 3px solid;
}
#userInfos-btn{
 padding-left: 5px;
}
#home-edt{
 height: 100%;
}
.home-edt-fc-event{
 width: 100% !important;
 border-right: 1px solid #E3E3E3 !important;
 border-top: 1px solid #E3E3E3 !important;
 border-bottom: 1px solid #E3E3E3 !important;
 border-left-width: 5px !important;
 border-radius: 0px !important;
}
#home-trash{
  cursor: pointer;
}
#home-trash:hover{
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
#home-stats{
 text-align: left;    
}
.home-classroom{
  width: 98%;
  margin-bottom: 5px;
  white-space: normal !important;
}
#classe_add_form,
#home-edt-edition{
  display: none;
}
#home-classrooms .list-group-item {
  display: block;
  padding: 0;
  border: 0;
  text-align: center;
}
#home_event_edition{
    position: relative;
}
#home_event_color{
    min-width: 50px;
}
#home_agenda_bloc{
  position: relative;
}
#home_agenda{
  flex-direction: column-reverse;
}
#home-periodes-views{
width: 100%;
position: relative;
overflow-x: hidden;
display: block;
border-radius: 2px;
height: 10px;
}
.home-periodes-views-bloc{
position: absolute;

height: 10px;
display: block;
}
#home-matiere{
  width: 175px;
  float: right;
}