/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

@media (max-width: 768px) { 
    .screen-small{
        display: none;
    }
    .fc-header-title h2 {
       display: none;
   }
   .flex-1, .flex-2, .flex-3, .flex-4{
    padding-left: 4px;
    padding-right: 4px;
}
.box{
 padding-right: 4px;
 padding-left: 4px;
}
.aside{
    border : 0px;
}

.itemSlider{
    width: 100%;
}
.item_description{
    display: none;
}
.items-progression{  
    width: 100%;   
}
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .screen-medium{
        display: none;
    }
    .aside .flex-rows{
        flex-direction:column;
    }
    #eleve-infos .flex-2{
        order:1;
    }
    #eleve-infos .flex-1{
        order:2;
    }
}
/* Large devices (large desktops, 1350px and up) */
@media (max-width: 1024px) {
    #titre{
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        display: block;
        z-index: 0;
    }    
}
/* Large devices (large desktops, 1350px and up) */
@media (max-width: 1350px) {

}
/* Large devices (large desktops, 1220px and up) */
@media (max-width: 1220px) {
  .screen-medium{
    display: none;
}
#classroom-sociogramme{
    overflow-y: scroll;
}
}