/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

.competences_sticky{
  z-index: 10;
  top: 55px !important; 
  width: 96% !important;
  left: 2%;
}
#skills-filters-save-bloc,
#items-activity,
#itemsAsideFiltre{
  display: none;
}
#eleve-infos{
  position: relative;
}
#item_form, #items_results_import, #items_import{
  position: relative;
}
#item_color{
  min-width: 50px;
}
.item-tags{
  position: relative;
  margin-left: 10px;
  font-size: 75%;
  font-weight: normal;
  line-height: 1;
  color: #777;
  font-style: italic;
}
.item-edition-tags{
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: normal;
  border: 1px solid #ccc;
  margin-right: 5px;
}
.item-edition-tags .btn{
  margin-left: 10px;
}
.item_nbeval_btn{
 margin-left: 10px;
 margin-right: 10px;
}
.items-sous-categorie, .items-categorie{
  cursor: pointer;
}
.items-sous-categorie{
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-details-description{
  font-size: 18px;
  font-weight: normal;
  color: #777;
}

#items-footer{
  position: fixed;
  z-index: 5;
  bottom: 0px;
  right: 0.5%;
  background-color: white;
  border-top: 1px solid #E3E3E3;
  padding: 10px;
  width: 99%;   
  margin: auto;   
  min-height: 35px;
  border-radius: 3px;
}
.badge_items{
  position: absolute !important;
  bottom: 0px !important;
  right: 0px;
  top: auto !important;
  z-index: 1;
  padding: 1px 1px 1px 1px !important;
  border-radius: 0px !important;
  border: 1px solid #E3E3E3;
  font-size: 8pt;
  background-color: white !important;
  color: #000000 !important;
}
#cpt-eval-activite{
  display: inline-block;   
}
#cpt-eval-niveau-select{
  width: 120px !important;
  font-size: 14pt;
  padding-top: 2px !important;
  text-align: center;
}
#items-selection-btn{
  display: inline-block;
}
/*#items-activite-btn{
    display: inline-block;
    margin-left: 5px;
    }*/
    .items-edition-input{
      position:relative;
    }
    .items-edition-input-hover{
      position:absolute;
      left:0; 
      right:0; 
      top:0; 
      bottom:0; 
      z-index:5;
      min-height:35px;
    }
    .item-box{
      border-left: 0px solid;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 0px;
      border-radius: 0px !important;
      padding: 2px;
      padding-left: 12px;
      cursor: pointer;
      position: relative;
    }
    input[type="checkbox"]{
      margin-top: 0px !important;
    }
    .item-box:hover{
     background-color:#E3E3E3;
   }
   .item-title{
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
    margin-right: 15px;
  }
  #skills-toolbar{
    margin-bottom: 5px;
  }
/*#items-flexbox{
    align-items: stretch;
    height: 100%;
    position: relative;
    }*/
/*#items-aside{
    position: relative;
    padding-top: 10px;
    }*/
    /*ITEMs - LISTE DES CLASSES */
    .items-classe-bloc{
      position: relative;
    }
    #items-classes-container{
 align-self: flex-start;
     position: sticky;
     top: 120px;
   }
   #items-container .flex-5{
    padding-left: 10px;
  }
  #items-classes-container .panel{
    margin-bottom: 0px;
    /*  z-index: 6;*/
  }
  #items-classes{
    background-color: white;
   /* z-index: 10;
    max-height: 85vh;
    overflow-y: auto; */
    margin-top: 5px;
    width: 100%;
    position: relative;
    max-height: calc(100vh - 230px);
    overflow-y: auto;
  }
  .item_checkbox_details{
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .itemsEleve:hover, .itemsClasse:hover{
   background-color: #DEDEDE;
   cursor: pointer;
 }
 .itemsClasse{
  margin-bottom: 0px !important;
  position: relative;
}
.itemsEleve{
  border-left: 0px;
  border-right: 0px;
  padding-left: 25px !important;
  text-align: left;
}


.cpt_eleve_checkbox,.cpt_classe_checkbox{
  position: absolute;
  left: 5px;
  top:10px;
}
.itemsEleveSelected{
  background-color: #286090 !important;
}
.itemsClasseSelected{
  background-color: #286090 !important;
}





.cpt-item-options{
  cursor: pointer;
  width: 50px;
  display: inline-block;
  text-align: center;
}
#items-results-import-selection select{
  display: inline-block;
  max-width: 98%;
}
/*ITEMS FILTRES */
#item_filters_acquisition_slider{
 width: 90%;
 display: inline-block;
 margin-right: auto;
}
#items-liste .list-group-item{
  padding: 4px 4px;
}
#items-liste hr{
  margin-bottom: 4px;
  margin-top: 4px;
}
#item-form-titre{
  margin-bottom: 15px !important;
}
#items-titre-bloc{
  background-color: white;
  padding-bottom: 5px !important;
  margin-bottom: 4px;    
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #E3E3E3 !important;
  position:sticky;
  top: 68px;
  z-index: 10;
  margin-top: -5px;
}
#items-titre-bloc input{
  max-width: 125px !important;
}
#items-titre-bloc .btn-group{
  margin-right:5px;
}
#items-titre-bloc .form-inline{
  margin-right:5px;
}

#items-titre-bloc-sticky-wrapper{
 position: relative;  
 margin-bottom: 10px;
}
.items-categorie{
  margin-bottom: 10px;
}
.slider-style{
  position: absolute;
  height: .7em !important;
  top:4px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0);
  min-width: 2% !important;
}
.itemSlider{
  width: 100%;
  display: inline-block;
  opacity: 1 !important;
  margin-right: 15px;
  background-color: rgba(0,0,0,0);
}
.ui-slider-handle{
  cursor: pointer !important;
}

.items-progression{
   /* padding: 4px;
   margin-bottom: 4px;*/
   width: 60%;
   border-bottom: 1px solid #E3E3E3;
 }
 .items-progression:hover{ 
  background-color: #d9d9d9;
}
.item-progression-toolbar{
  margin-top: 10px;
}
.items-progressions-liste{
  margin-bottom: 20px;
}
.item-description-wrapper{
  margin-bottom: 10px;
}
.item-details{
  margin-top: 10px;
  margin-bottom: 10px;
}
.toolbar-container{
 text-align: left;
 background-color: white;
 border : 1px solid #E3E3E3;
}
.editable-container{
 text-align: left;
 background-color: white;
 width: 100%;
 border : 1px solid #E3E3E3;
}

.tags-family{
  margin-bottom: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.tags-family{
  position: relative;
  padding-left: 15px;
  background-color: #f5f5f5;
  padding-right: 25px;
  overflow: hidden;
}
.tags-family.ui-sort-enable:hover{
  border-bottom:1px solid #E3E3E3;
  padding-bottom: 5px;
}
.handle{
  height: 100%;
  width: 8px;
  background-color: #E3E3E3;
  cursor: move;
  position: absolute;
  top: 0px;
  left: 0px;
}
.item-handle{
  height: 100%;
  width: 8px;
  cursor: move;
  position: absolute;
  top: 0px;
  left: 0px;
}
#items-filters-tags-group-btn{
  visibility: hidden;
}
#itemsFiltersProgressionsReset{
 visibility: hidden;
}
.tags-family-toolbar{
  position: absolute;
  top: 2px;
  right: 2px;
}
.tags-color{
  display: inline-block;
  width:12px;
  height: 12px;
  margin-right: 5px;
  position: relative;
  top:2px;
}
#items-classroom-tab table{
  width: auto !important;
  border-collapse:separate !important;
}
#items-classroom-tab td{
 text-align: center;
}
#items-classroom-tab svg {
  width: 25px; height: 25px;
  transform: rotate(-90deg);
  background: white;
  border-radius: 50%;
}
#items-classroom-tab circle {
  fill: white;
  stroke: grey;
  stroke-width: 12.5;
}


.items-square:after {
 color: inherit;
 content: "\25A0";
 font-size: 20pt;
 display: inline-block;
 top:-5px;
}
.items-star1:after {
 color: inherit;
 content: "\2605";
 font-size: 20pt;
 display: inline-block;
 top:-5px;
}
.items-star2:after {
 color: inherit;
 content: "\2605\2605";
 font-size: 20pt;
 display: inline-block;
 top:-5px;
}
.items-star3:after {
 color: inherit;
 content: "\2605\2605\2605";
 font-size: 20pt;
 display: inline-block;
 top:-5px;
}
.item_details{
  padding-bottom: 10px;
}
.items-student-cycle{
  color: #777;
  font-size: 75%;
}
#skills-aside-closeBtn{
  position: absolute;
  top: 0px;
  right: 0px;
}
#skills-filters-save-bloc{
  margin-bottom: 0px !important;
  margin-top: 10px;
}
/*#skills-aside-openBtn{
  position: absolute;
  top: 0px;
  right: 0px;
  }*/
  /*#itemsAsideFiltres-container{

 }*/
 #itemsAsideFiltres{
    max-width: 25%;
    position: sticky;
   top: 120px;
    align-self: start;
   background-color: white;
   overflow-y: auto;
   max-height: calc(100vh - 195px);
   padding-right: 10px;

 }
 #items-main{
  position: relative;
}
.skills-activite-progression{
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #E3E3E3;
}
.progression-date{
  font-size: 80%;
  font-style: italic;
}
#item-recherche{
  margin-top: 15px;
  margin-bottom: 5px;
}

/*#items-classes-select{
  display: inline-block;
  max-width: 200px;
  }*/
  #items-symboly-select{
    max-width: 84px;
    text-align: center;
  }
  #item-form-close{
    position: absolute;
    top:5px;
    right: 5px;
  }
  .items-box{
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .item-dropzone{
    min-height: 30px;
    margin-bottom: 5px;
    text-align: left;

     }
    .item-feedbacks-liste{
      padding-left: 5px;
      margin-top: 5px;
    }
 .item-feedbacks-liste span{
      vertical-align: text-bottom;
    }
.item-feedbacks-liste .btn{
      margin-right: 5px;
    }
    .item-feedbacks-liste .btn span{
        vertical-align:middle;
    }
    .item-feedbacks-loader{
      text-align: center;
      display: flex;
      align-items: center;
    }
   .item-feedbacks-loader img {
    margin-right: auto;
    margin-left: auto;
display: block;
   }
  .feedback-img{
    max-width: 300px;
  }
  .feedback-student{
    font-weight: bold;
    margin-bottom: 10px;
  }
  #feedbacks-options{
    justify-content:space-between;
  }
  .progression-square{
    display:inline-block;
    width:15px;
    height:15px;
    margin-right: 5px;
  }
  .feedback-wrapper{
    margin-bottom: 10px;
    padding: 5px;
    border:1px dashed grey;
  }
  .feedback-item{    
    font-weight: bold;
  }
  #feedbacks{
    position: relative;
  }