/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

  .eleve-event-liste{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  #eleve_etoiles,
  #eleve_notes,
  #eleve_events,
  #eleve_infos{
  display: none;
}
#eleve_etoiles{
  position: relative;
}
#eleve_agenda{
  flex-direction: column-reverse;
}
  .eleve-event-liste-header{
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
  }
  .eleve-event-liste-header .btn{
    margin-left: 20px;
  }
  .eleve-event-liste-item{
    border: 1px solid #E3E3E3;
    border-radius: 5px; 
    margin: 5px;
    padding: 5px;
    height: 40px;
  }
  #eleveEventsLST .eleve-event-liste:nth-of-type(n+2) {
    border-top: 1px solid #E3E3E3;
    padding-top: 15px;
  }
  
  #eleve-niveau{
    height: 5px;
    width:100%;
    background-color: #E3E3E3;
    margin-top: 15px;
    margin-bottom:15px;
    position: relative;
  }
  #eleve-jauge-notes{
   position: absolute;
   left: 0px;
   top: 0px;
   height: 2px;
 }
 #eleve-jauge-acquis{
   position: absolute;
   left: 0px;
   top: 3px;
   height: 2px;
 }
 #eleve_infos .form-control{
  width: auto !important;
  height: auto !important;
}
#eleve_notes{
  position: relative;
}
#student-picture,#student-edit-picture{
  max-height: 100px;
  max-width: 100px;
}
#student-edit-picture{
  margin-bottom: 10px;
}
.student-events-row:hover{
 background-color: #E3E3E3 !important;
 cursor: pointer;
}
#eleveEventsLST_details .h4{
  margin-bottom: 20px !important;
}
#eleve_etoiles_total {
  font-weight: bold;
}
#eleve_note_form {
  margin-top: 15px;
  margin-bottom: 15px;
}
#eleve_event_edition{
  position: relative;
}
#eleve_event_color{
  min-width: 50px;
}
#eleve-cycle select{
  margin-top: 10px;
  max-width: 200px;
}
#eleve_infos{
  position: relative;
}
.student-note{
  border-left: 2px solid;
  border-radius: 4px;
}

