/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

#defis{
  position: relative;
}
#challenges-liste{
 padding-left: 0px !important;
 padding-right: 0px !important;
}
.defi-etoiles{
  margin-top: 5px;
}
#template_defis hr{
  margin-top: 0px;
}
#defi_form{
  margin-left: 9px !important;
  margin-right: 9px !important;
}
#challenges-edit h3{
  text-align: left;
}
#challenges-edit button a{
  margin-top: 5px;
}
.defi{
 text-align: left;
 position: relative;  
 overflow: hidden;
 padding: 7px;
 background-color: #F5F5F5;
 border: 1px solid #E3E3E3;
 border-radius: 4px;
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
 margin-bottom: 5px;
 width: 100%;
}

.defi-icon {
 display: flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
}
.defi-icon .defi-img{ 
  border: 1px solid;
  border-radius: 5px;
  padding: 4px;
  width: 50px;
  height: 50px;
}
.defi_icon_form{
  margin: 2px;
}
.defis-bloc-btn{
  float: right;
}
.etoile_off{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/etoile_off.png');
}
.etoile_on{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/etoile_on.png');
}
.etoile_use{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/etoile_use.png');
}
.etoile{
  position: relative;
  top:-4px;
}
.note_etoiles img{
  width: 15px
}
.etoile-icon{
  border: 0px !important;
  padding:0px !important;
}