/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

.template_config h2, .template_config h3 {
    text-align: left;
    margin-top: 0px;
}
#config_users{
    margin-top: 15px;
}
.config_btn{
    margin-top: 15px;
}
.config_user input{
    max-width: 300px;
}

.config_admin_bloc select, .config_user select{
 max-width: 300px;
}
#classe select{
 max-width: 300px;
}
.config_user .flex-1{
    position: relative;
}
#config_pseudo{
  border-bottom: 3px solid;
  padding-top: 8px;
}
#config_user_view_pseudo{
   border-left: 3px solid;
   padding-left: 8px;
}
#config_classes_list button{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.config_alerte{
    width: 50%;
}
#config_user_view{
    text-align: left;
}
#config_user_view{
    position: relative;
}
#alertesForm{
    text-align: center;
}
#alerteEventsMax{
    display: inline-block;
}
#btn_save_config{
    margin-right: auto;
    margin-left: auto;
}
.cdt_title{
    font-weight: bold;
}
.cdt_item{
    border-left: 4px solid;
    padding-left: 5px;
}
.cdt_date{
    padding-bottom: 5px;
    padding-top: 5px;
}
.cdt_visa_item{
    width: 90%;
    text-align: center;
    margin-bottom: 4px;
    padding: 4px;
}
.cdt_visa_item:hover{
    background-color:#E3E3E3;
} 
#cdt_visas_btn{
    margin-bottom: 10px;
}
.config-titre{
    text-align: center;
    margin-bottom: 20px !important;
}
.config-classroom{
    width: 80%;
}