/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

.template_connexion .h1{
   
    margin-bottom: 0px !important;
}

.home_loading{
    padding-top: 80px;
    padding-bottom: 80px;
}
#limited_version{
   position: absolute;
   right: 10px;
   top: 10px;
}
.connexion-header{  
    padding-bottom: 0px !important;
}
.connexion-toolbar{
 position: absolute;
    right: 10px;
    top: 10px;
  }
  .connexion-form{
    align-items: center; 
       justify-content: center; 
  } 