/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

 #messages-view-liste{
    flex-direction:column;
}
.message_subject{
    cursor: pointer;
}
.message_highlight{
    background-color: #F0F0F0;
}
#messages-view-participants, #messages-view-participants{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
#messages-view-toolbar, #messages-view-toolbar{
  margin-bottom: 20px;  
}
#messagerie-badge{
    display: none;
}
.messages_tab{
    position: relative;
}
#messages-view, #messages-view{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    background-color: white;
    z-index: 3;
    box-shadow:         0px 0px 5px 10px rgba(50, 50, 50, 0.75);
    padding: 5px;
    padding-bottom: 20px;
}
.destinataire{
    min-width: 100px;
}
#destinataires_select{
    max-height: 400px;
    overflow: scroll;
}
.bulle{
    width: 100%;
    margin-bottom: 20px;
}
.bulle-left{
    margin-top: 15px;
    padding: 5px;
    border: 0px;
    float: left;
    border-left: 5px solid;
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.bulle-right{
    margin-top: 15px;
    padding: 5px;
    float: right;
    border: 0px;
    border-right: 5px solid;
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    text-align: right;
}
.destinataires_select_btn .btn{
   position: absolute;
   left: 5px;
   top: 5px;
}
.destinataires_select_btn{
    position: relative;
    height: 40px;
    padding-left: 45px;
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
}
#destinataires_select .panel{
    margin-bottom: 2px !important;
}