/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

  #eleve_agenda_editor, #classe_agenda_editor, #home_agenda_editor{
    margin-bottom: 5px;
}
#agenda_export{
    position: relative;
}
#home-calendar .fc-content{
    overflow: visible !important;
}
.calendar-event-toolbar{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 2px;
    text-align: right;
} 
.edt-event-toolbar{
   position: absolute;
   top: 2px;
   right: 2px;
   z-index: 5 !important;
}
#eleve-agenda-next, #classe-agenda-next,#home-agenda-next{
    display: inline-block;
}
#eleve_calendar{
    margin-top: 10px;
}
#eleve_agenda, #classe_agenda, #home_agenda{
    margin-bottom: 15px;
    display: flex;
}
#eleve_events{
    margin-top: 30px;
}
.events{
    margin-bottom: 15px;
}
.note_event, .etoile_event{
    text-align: center;
}
.event_pseudo{
    position: absolute;
    top: 2px;
    left: 2px;
}
.event_text{
    position: absolute;
    width: 100%;
    text-align: center;
    top:8px;
}
.calendar-event-title{
    font-weight: bold;
}
.fc-event{
    border-right: 1px solid #E3E3E3 !important;
    border-top: 1px solid #E3E3E3 !important;
    border-bottom: 1px solid #E3E3E3 !important;
    border-left-width: 5px !important;
    border-radius: 0px !important;
    cursor: pointer;    
}
.fc-today{
    background-color: inherit !important;
}
.fc-event-inner:hover{
 background-color:#E3E3E3;
}
.fc-state-highlight{
    background: none repeat scroll 0% 0% #FFFFFF;
}
.event_disable{
    cursor: pointer;
    text-decoration: line-through;
}
.event_enable{
    cursor: pointer;
}
.fc-event-inner{
   font-size: 15px;
   width: 100%;
   padding: 2px;
   overflow: auto;
}
.fc-content{
    white-space: normal !important;
}