/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

#messages-view-text{
    flex-direction:column;
}
#messages-view-liste{
    flex-direction:column;
}
#acquisition-slider{
    width: 100%;
}
#acquisition-slider{
    width: 85%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
#calendar .fc-event-time{
    display: none;
}
.items_autoeval_filter{
	position: absolute;
	left: 0px;
	width: 100%;
	background-color: white;
	height: 30px;
z-index: 3;
}