/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

#links-liste, #files-liste, #eleve_files, #eleve_links, #messages-liste{
    min-height: 400px;
}
.template_shares .h2{
    margin-bottom: 15px !important;
}
.file_type span{
    padding: 4px;
    font-weight: bold;
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    text-align: center;
}
.progress_quota{
    height: 5px;
}
#template_files hr{
    margin-top: 0px;
}
#template_files .panel{
    margin-bottom: 0px;
}
.white{
    background-color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link_favicon{
    width: 20px;
}
#share_classes .panel{
    margin-bottom: 0px;
}
#share_classes{
    max-height: 600px;
    overflow: scroll;
}
.filesShareEleve .btn{
   position: absolute;
   right: 5px;
   top: 5px;
}