/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

.competences_sticky{
  z-index: 10;
  top: 66px !important; 
}
#eleve-infos{
    position: relative;
}

#item_color{
    min-width: 50px;
}
.item-tags{
    position: relative;
    margin-left: 10px;
    font-size: 75%;
    font-weight: normal;
line-height: 1;
color: #777;
   font-style: italic;
}

.items-sous-categorie, .items-categorie{
    cursor: pointer;
}
.items-sous-categorie{
    margin-top: 10px;
    margin-bottom: 10px;
}
.item-details-description{
    font-size: 18px;
    font-weight: normal;
color: #777;

}

#items-footer{
    position: fixed;
    z-index: 5;
    bottom: 0px;
    right: 1%;
    background-color: white;
    border-top: 1px solid #E3E3E3;
    padding: 10px;
    width: 98%;
    text-align:right;     
    margin: auto;   
    min-height: 35px;
    border-radius: 3px;
}
.badge_items{
    position: absolute !important;
    bottom: 0px !important;
    right: 0px;
    top: auto !important;
    z-index: 1;
    padding: 1px 1px 1px 1px !important;
    border-radius: 0px !important;
    border: 1px solid #E3E3E3;
    font-size: 8pt;
    background-color: white !important;
    color: #000000 !important;

}

#cpt-eval-activite{
    display: inline-block;   
}
#cpt-eval-niveau-select{
    width: 120px !important;
    font-size: 14pt;
    padding-top: 2px !important;
    text-align: center;
}
#items-selection-btn{
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
     border-left:1px solid #E3E3E3;
}
#items-activite-btn{
    display: inline-block;
    margin-left: 5px;
}
.items-edition-input{
    position:relative;
}
.items-edition-input-hover{
    position:absolute;
    left:0; 
    right:0; 
    top:0; 
    bottom:0; 
    z-index:5;
    min-height:35px;
}
.item-box{
  /*  margin-left: 15px;*/
    border-left: 8px solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px !important;
    padding: 2px;
    padding-left: 4px;
    cursor: pointer;
}
input[type="checkbox"]{
    margin-top: 0px !important;
}
.item-box:hover{
 background-color:#E3E3E3;
}
.item-title{
font-weight: bold;
}
#items-flexbox{
    align-items: stretch;
    height: 100%;
    position: relative;
}

#items-aside{
    position: relative;
    padding-top: 10px;

}
/*ITEMs - LISTE DES CLASSES */


/*ITEMS FILTRES */
#item_filters_acquisition_slider{
   /* width: 30%;*/
   width: 90%;
    display: inline-block;
  /*  margin-left: 20px;*/
    margin-right: auto;
}
#items-liste .list-group-item{
    padding: 4px 4px;
}
#items-liste hr{
    margin-bottom: 4px;
    margin-top: 4px;
}
#competences_liste hr{
    margin-bottom: 4px;
    margin-top: 4px;
}
#item-form-titre{
    margin-bottom: 15px !important;
}
#items-titre-bloc{
    background: white;
    padding-bottom: 5px !important;
    margin-bottom: 2px;
    padding-top: 2px !important;
    border-bottom: 1px solid #E3E3E3 !important;
}

#items-titre-bloc-sticky-wrapper{
   position: relative;  
   margin-bottom: 10px;
}
.items-categorie{
    margin-bottom: 10px;
}
.slider-style{
    position: absolute;
    height: .7em !important;
    top:4px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0);
    min-width: 2% !important;
}
.itemSlider{
    width: 100%;
    display: inline-block;
    opacity: 1 !important;
    margin-right: 15px;
    background-color: rgba(0,0,0,0);
}
.ui-slider-handle{
    cursor: pointer !important;
}
.items-box{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.items-progression{
    padding-bottom: 4px;
    margin-bottom: 4px;
    width: 60%;
    height: 30px;
/*    border-bottom: 1px solid #E3E3E3;*/
     border-bottom: 1px solid #E3E3E3;
}
.items-progression:hover{ 
    background-color: #E3E3E3;
}
.items-progressions-liste{
    margin-bottom: 20px;
}
.item-description-wrapper{
    margin-bottom: 10px;
}
.item-details{
    margin-top: 10px;
    margin-bottom: 10px;
}
.toolbar-container{
   text-align: left;
   background-color: white;
   border : 1px solid #E3E3E3;
}
.editable-container{
 text-align: left;
 background-color: white;
 width: 100%;
 border : 1px solid #E3E3E3;
}

.tags-family{
    margin-bottom: 5px;
    padding-bottom: 4px;
    padding-top: 4px;

}
.tags-family{
    position: relative;
    padding-left: 15px;
    background-color: #f5f5f5;
    padding-right: 25px;
    overflow: hidden;
}
.tags-family.ui-sort-enable:hover{
  border-bottom:1px solid #E3E3E3;
    padding-bottom: 5px;
}
.handle{
  height: 100%;
  width: 8px;
  background-color: #E3E3E3;
    cursor: move;
    position: absolute;
    top: 0px;
    left: 0px;
}
#items-filters-tags-group-btn{
    visibility: hidden;
}
#itemsFiltersProgressionsReset{
     visibility: hidden;
}

.tags-family-toolbar{
    position: absolute;
    top: 2px;
    right: 2px;
}
.tags-color{
    display: inline-block;
    width:12px;
    height: 12px;
    margin-right: 5px;
    position: relative;
    top:2px;
}

#items-classroom-tab table{
    width: auto !important;
    border-collapse:separate !important;
}

#items-classroom-tab td{
   text-align: center;
}

#items-classroom-tab svg {
  width: 25px; height: 25px;
  transform: rotate(-90deg);
  background: white;
  border-radius: 50%;
}

#items-classroom-tab circle {
  fill: white;
  stroke: grey;
  stroke-width: 12.5;
  /* stroke-dasharray: 38 100; for 38% */
}
.items-square:after {
     color: inherit;
   content: "\25A0";
   font-size: 20pt;
   display: inline-block;
   top:-5px;
}
.items-star1:after {
     color: inherit;
   content: "\2605";
   font-size: 20pt;
   display: inline-block;
   top:-5px;
}
.items-star2:after {
     color: inherit;
   content: "\2605\2605";
   font-size: 20pt;
   display: inline-block;
   top:-5px;
}
.items-star3:after {
     color: inherit;
   content: "\2605\2605\2605";
   font-size: 20pt;
   display: inline-block;
   top:-5px;
}