/*
Copyright 2018 Pierre GIRARDOT

This file is part of GestionDeClasses.

GestionDeClasses is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version GPL-3.0-or-later of the License.

GestionDeClasses is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GestionDeClasses.  If not, see <https://www.gnu.org/licenses/>.*/

html,
body {
    height: 100%;
}

body {
    background-color: #95a5a6;
}

header {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

textarea {
    margin-bottom: 10px;
}

#header {
    position: sticky;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    flex-shrink: 0; /* 2 */
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #95a5a6 !important;
}

#header .btn {
    z-index: 3 !important;
}

#header > .well {
    margin-bottom: 0;
}

#footer {
    flex-shrink: 0; /* 2 */
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 35px;
    text-align: center;
}

#main {
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: column;
}
.link {
    color: black;
    cursor: pointer;
}

.fc-widget-header {
    font-size: 12pt;
}

.ql-toolbar {
    text-align: left;
    background-color: white;
}

/*

UI COMMON

*/

.ql-container {
    height: auto !important;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-rows {
    display: flex;
    flex-direction: row;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
    padding-right: 4px;
    padding-left: 4px;
    overflow: visible;
}

.flex-2 {
    flex: 2;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.flex-3 {
    flex: 3;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.flex-4 {
    flex: 4;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.flex-5 {
    flex: 5;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}

.col-md-12,
.col-sm-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.my-flaticon::before {
    font-size: 13pt !important;
}

#titre {
    overflow: visible;
    text-align: center;
    white-space: nowrap;
}

.template {
    display: none;
    position: relative;
}

#view_page {
    position: relative;
    flex: 1;
    overflow-y: auto;
}

h1 {
    position: relative;
    left: -10px;
}

h2 {
    padding-bottom: 15px;
    text-align: center;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

.box {
    margin-bottom: 2px;
    padding: 5px 20px 15px 20px;
    border-radius: 3px;
    background-color: #ffffff;
}

.tab-row:hover {
    background-color: #E3E3E3 !important;
    cursor: pointer;
}

.barre {
    text-decoration: line-through;
}

.btn-group-vertical {
    width: 100%;
}

.btn-group {
    margin-right: 4px;
}


.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}


.btn-toolbar {
    margin-bottom: 15px;
    padding-left: 0 !important;
}


nav {
    position: relative;
    margin-bottom: 10px;
}

.aside {
    position: static;
    padding-left: 10px;
    border-left: 1px solid #E3E3E3;
}

#accordion {
    padding-right: 20px;
    max-height: 400px;
    overflow-y: auto;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin-left: 0;
}

.panel {
    padding: 5px;
}


.pseudo_color_mini {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.panel-title {
    font-weight: bold;
}


#legende {
    position: relative;
    margin-top: 10px;
}

.legende {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 3px;
    padding: 5px;
    border-top: 1px solid #E3E3E3 !important;
    border-right: 1px solid #E3E3E3 !important;
    border-bottom: 1px solid #E3E3E3 !important;
    border-left-width: 5px !important;
    overflow: hidden;
    text-align: center;
}


.eleve {
    width: 98%;
    margin: 5px;
}

button .eleve {
    width: 100%;
    margin: 5px;
}

.glyphicon-2x {
    font-size: 20px;
}



#import {
    width: 100%;
    border: 0;
}

.user {
    padding: 5px;
}

thead {
    font-weight: bold;
}

.btn-close {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn-close button {
    display: inline-block;
}

.btn-paste {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 5px;
}

#eleve_etoiles_total {
    font-weight: bold;
}

#eleve_note_form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.classroom-addStudents-classrooms-student,
.filesShareEleve {
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #E3E3E3;
}

.classroom-addStudents-classrooms-student .btn {
    position: absolute;
    top: 5px;
    left: 5px;
}

#renderLoader {
    width: 100%;
    text-align: center;
}

#noty_top_layout_container {
    left: 0% !important;
    width: 100% !important;
}

#intelligences_presentation blockquote {
    font-size: 14px !important;
}

#intelligences_presentation .panel {
    margin-top: 0 !important;
    padding: 2px !important;
}

.intelligences-test-row {
    margin-right: auto;
    margin-left: auto;
    padding: 4px;
    border-bottom: 1px solid #E3E3E3;
    text-align: left;
}

.intelligences-test-row:hover {
    text-align: left;
    background-color: #E3E3E3 !important;
    cursor: pointer;
}

#intelligences_test_footer {
    margin-top: 20px;
}

#intelligences_results,
#eleve-intelligences {
    position: relative;
    height: 400px;
    margin: 0 auto;
    min-width: 400px;
}

/*---------------
-----------------
------CHECKBOX------
-----------------
---------------*/

/* Checkmark style starts */

@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 24px;
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 24px;
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 24px;
    }
}

input[class=check-box] {
    display: none;
}

.check-box {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.check-box::before,
.check-box::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 4px;
    height: 0;
    border-radius: 1px;
    background-color: #34b93d;
    transition: opacity ease .5;
    transform-origin: left top;
}

.check-box::before {
    top: 14px;
    left: 8px;
    box-shadow: 0 0 0 0 #ffffff;
    transform: rotate(-135deg);
}

.check-box::after {
    top: 7px;
    left: 1px;
    transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
    border-color: #34b93d;
}

input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
    height: 10px;
    animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
    height: 24px;
    animation: dothatopcheck 0.4s ease 0s forwards;
}